@mixin button-style($bg-color, $hover-color) {
    padding: $padding;
    border: none;
    background-color: $bg-color;
    color: white;
    border-radius: $border-radius;
    cursor: pointer;
    margin-top: $padding;
  
    &:hover {
      background-color: $hover-color;
    }
  }
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }